@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
}
body{
    background: #161A20;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #142025;
    padding: 20px 45px;
    text-align: center;
}
header .logo{
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 20px;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
    
}
header .logo h1{
    color: #12D7D7;
    text-shadow: 0 0 8px #12D7D7;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.navigation a{
    margin-right: 90px;
    margin-left: 40px;
    color: white;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2;
    text-shadow: 0 0 3px #ffffff;
}
.navigation a:hover{
    transition: .5s;
    color: #12D7D7;
    text-shadow: 0 0 5px #12D7D7;
}
.login_and_search{
    display: flex;
}
.login_and_search a{
    margin-left: 50px;
}

.login_and_search img{
    width: 32px;
    height: 34px;
    padding-top: 4px;
}
.login_and_search a:last-child{
    background: #171B20;
    border-radius: 50%;
    display: block;
    height: 46px;
    width: 46px;
    box-shadow: 0 0 5px #12D7D7;
    border: 1px solid #12D7D7;
}
main{
    padding-top: 60px;
    padding-bottom: 60px;
}
.main_content{
    margin: auto;
    width: 1300px;
    background: #142025;
    height: 1800px;
    border-left: 18px solid #12D7D7;
    border-right: 18px solid #12D7D7;
    border-bottom: 18px solid #12D7D7;
    border-radius: 17px 17px 40px 40px;
    color: white;
    position: relative;
}
.main_content h2{
    font-size: 28px;
    margin-left: 5px;
    letter-spacing: .1em;
    font-weight: 200;
    margin-bottom: 40px;
}
.first-container{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.cards{
    margin-top: 30px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}
.card{
    width: 247px;
    height: 310px;
    border: 6px solid #12D7D7;
    border-radius: 5px 5px 5px 5px;
    
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 0 8px #13c2c2;
}
.card img{
    width: 247px;
    height: 310px;
}
.card img:hover{
    transition: .6s ease;
    opacity: 0.8;
    transform: scale(1.1);
}
.second-container{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 90px;
}


.footer{
    margin-top: 20px;
    padding: 0 24px 8px 24px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 35%;
}
.footer p {
    margin-right: 20px;
}
.footer img{
    margin-left: 10px;
}
.footer img:hover{
    opacity: 0.7;
}

.film_index:first-child{
    color: #12D7D7;
    text-shadow: 0 0 3px #12D7D7;
}
.anime_index:nth-child(3) {
    color: #12D7D7;
    text-shadow: 0 0 3px #12D7D7;
}
.TV_series:nth-child(2){
    color: #12D7D7;
    text-shadow: 0 0 3px #12D7D7;
}
.cartoon:nth-child(4){
    color: #12D7D7;
    text-shadow: 0 0 3px #12D7D7;
}

.third-container{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 90px;
}

.main_content_login{
    margin: auto;
    width: 1300px;
    background: #142025;
    height: 700px;
    border-left: 18px solid #12D7D7;
    border-right: 18px solid #12D7D7;
    border-bottom: 18px solid #12D7D7;
    border-radius: 17px 17px 40px 40px;
    color: white;
}
.active a{
    box-shadow: 0 0 50px #12D7D7;
}

.main_login{
    padding-top: 10%;
    padding-left: 25%;
}
.main_login input{
    width: 637px;
    height: 50px;
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 10px;
    border: 3px solid #12D7D7;
    box-shadow: 0 0 5px #12D7D7;
    box-sizing: border-box;
    padding-left: 10px;
}
.main_login input::placeholder{
    font-size: 20px;
    color: #161A20;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[type=submit]{
    font-size: 20px;
    margin-top: 50px;
    font-weight: 600;
}
input[type=submit]:hover{
    box-shadow: 0 0 15px #12D7D7;
}
.main_login input:focus{
    box-shadow: 0 0 15px #12D7D7;
    font-size: 20px;
}
.main_login p{
    color: white;
    font-size: 15px;
    padding-left: 18%;
    padding-top: 20px;
}
.main_login a:hover{
    text-shadow: 0 0 2px #ffffff;
}
.main_login span{
    font-weight: bold;
}



@media screen and (max-width: 500px) {
    header{
        padding: 20px 10px;
    }
    header .logo{
        letter-spacing: .3em;
        font-size: 20px;
        font-family: 'Kodchasan';
        font-style: normal;
        font-weight: 400;
        margin-right: 30px;
        
    }
    .logo_h1{
        font-size: 25px;
    }
    .navigation{
        font-size: 10px;
        margin-left: -10px;
        width: 25%;
    }
    .navigation a{
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 10px;
        letter-spacing: .3em;
        font-size: 12px;
        line-height: 2;
    }
    .login_and_search a{
        margin-left: 15px;
    }

    .cards{
        flex-direction: column;
        gap: 25px;
    }
    .login_and_search img{
        width: 24px;
        height: 24px;
        padding-top: 4px;
    }
    .login_and_search a:last-child{
        height: 34px;
        width: 33px;
    }
    main{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .other_pages{
        height: 4700px !important;
    }
    .main_content{
        width: 350px;
        height: 3900px;
        border-left: 10px solid #12D7D7;
        border-right: 10px solid #12D7D7;
        border-bottom: 10px solid #12D7D7;
    }
    .first-container{
        padding-top: 60px;
        padding-left: 50px;
        padding-right: 40px;
    }
    .second-container{
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 40px;
        margin-top: 60px;
    }
    .third-container{
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 40px;
        margin-top: 60px;
    }
    .main_content h2{
        font-size: 18px;
        margin-left: 5px;
        letter-spacing: .1em;
        font-weight: 200;
        margin-bottom: 20px;
    }
    
    .footer{
        margin-top: 10px;
        padding: 0 20px 8px 60px;
        display: inline-flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 10%;
    }
    .footer a{
        display: inline-block;
    }
    .footer p {
        margin-right: 10px;
        font-size: 13px;
        width: 150px;
    }
    .footer_icon{
        width: 88px;
        padding-bottom: 10px;
    }
    .footer img{
        margin-left: 0px;
        width: 26px;
        height: 26px;
    }

    .main_content_login{
        width: 450px;
        height: 500px;
        border-left: 9px solid #12D7D7;
        border-right: 9px solid #12D7D7;
        border-bottom: 9px solid #12D7D7;
        margin-top: 50px;
    }
    .main_login{
        padding-top: 10%;
        padding-left: 5%;
    }
    .main_login input{
        width: 400px;
        height: 30px;
        margin-top: 50px;
        padding-left: 10px;
    }
    .main_login input::placeholder{
        font-size: 16px;
    }
    input[type=submit]{
        font-size: 17px;
        margin-top: 50px;
        font-weight: 600;
    }
    .main_login input:focus{
        font-size: 15px;
    }
    .main_login p{
        font-size: 15px;
        padding-left: 13%;
        padding-top: 20px;
    }
}


@media screen and (max-width: 400px) {
    header{
        padding: 20px 10px;
    }
    header .logo{
        letter-spacing: .3em;
        font-size: 20px;
        font-weight: 400;
        margin-right: 30px;
        
    }
    .logo_h1{
        font-size: 25px;
    }
    .navigation{
        font-size: 10px;
        margin-left: -18px;
    }
    .navigation a{
        margin-right: 0px;
        margin-left: 0px;
        margin-right: 15px;
        letter-spacing: .3em;
        font-size: 10px;
        line-height: 2;
    }
    .login_and_search a{
        margin-left: 15px;
    }

    .cards{
        flex-direction: column;
        gap: 25px;
    }
    .login_and_search img{
        width: 24px;
        height: 24px;
        padding-top: 4px;
    }
    .login_and_search a:last-child{
        height: 34px;
        width: 33px;
    }
    main{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .main_content{
        width: 344px;
        height: 3900px;
        border-left: 8px solid #12D7D7;
        border-right: 8px solid #12D7D7;
        border-bottom: 8px solid #12D7D7;
    }
    .first-container{
        padding-top: 60px;
        padding-left: 45px;
        padding-right: 40px;
    }
    .second-container{
        padding-top: 30px;
        padding-left: 45px;
        padding-right: 40px;
        margin-top: 60px;
    }
    .third-container{
        padding-top: 30px;
        padding-left: 45px;
        padding-right: 40px;
        margin-top: 60px;
    }
    
    .footer{
        margin-top: 10px;
        padding: 0 20px 8px 60px;
        display: inline-flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 10%;
    }
    .footer a{
        display: inline-block;
    }
    .footer p {
        margin-right: 10px;
        font-size: 13px;
        width: 150px;
    }
    .footer_icon{
        width: 88px;
        padding-bottom: 10px;
    }
    .footer img{
        margin-left: 0px;
        width: 26px;
        height: 26px;
    }

    .main_content_login{
        width: 344px;
        height: 470px;
        border-left: 7px solid #12D7D7;
        border-right: 7px solid #12D7D7;
        border-bottom: 7px solid #12D7D7;
        margin-top: 30px;
    }
    .main_login{
        padding-top: 10%;
        padding-left: 5%;
    }
    .main_login input{
        width: 300px;
        height: 30px;
        margin-top: 40px;
        padding-left: 10px;
    }
    .main_login input::placeholder{
        font-size: 14px;
    }
    input[type=submit]{
        font-size: 15px;
        margin-top: 50px;
        font-weight: 600;
    }
    .main_login input:focus{
        font-size: 15px;
    }
    .main_login p{
        font-size: 13px;
        padding-left: 5%;
        padding-top: 20px;
    }
}