@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
}
body{
    background: #161A20;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #142025;
    padding: 20px 45px;
    text-align: center;
}
header .logo{
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 20px;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
}
header .logo h1{
    color: #12D7D7;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation a{
    margin-right: 90px;
    color: white;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 2;
    
}
.navigation a:first-child{
    color: #12D7D7;
}