@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
}
body{
    background: #161A20;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #142025;
    padding: 20px 45px;
    text-align: center;
}
header .logo{
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 20px;
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    margin-right: 50px;
    
}
header .logo h1{
    color: #12D7D7;
    text-shadow: 0 0 8px #12D7D7;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation a{
    margin-right: 90px;
    color: white;
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2;
    text-shadow: 0 0 3px #ffffff;
}
.navigation a:hover{
    opacity: .6;
}
.navigation a:first-child{
    color: #12D7D7;
    text-shadow: 0 0 3px #12D7D7;
}
.login_and_search{
    display: flex;
}
.login_and_search a{
    margin-left: 50px;
}

.login_and_search img{
    width: 34px;
    height: 34px;
}

main{
    padding-top: 60px;
    padding-bottom: 60px;
}
.main_content{
    margin: auto;
    width: 1300px;
    background: #142025;
    height: 1800px;
    border-left: 18px solid #12D7D7;
    border-right: 18px solid #12D7D7;
    border-bottom: 18px solid #12D7D7;
    border-radius: 17px 17px 40px 40px;
    color: white;
}
.main_content h2{
    font-size: 28px;
    margin-left: 5px;
    letter-spacing: .1em;
    font-weight: 200;
    margin-bottom: 40px;
}
.first-container{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.cards{
    margin-top: 30px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}
.card{
    width: 247px;
    height: 310px;
    border: 7px solid #12D7D7;
    border-radius: 5px 5px 5px 5px;
    
    overflow: hidden;
}
.card img{
    width: 247px;
    height: 310px;
}
.card img:hover{
    transition: .6s ease;
    opacity: 0.8;
    transform: scale(1.1);
}
.second-container{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 90px;
}



.footer{
    margin-top: 20px;
    padding: 0 24px 8px 24px;
    display: flex;
    align-items: center;
}